* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

:root {
  
  --heading-XL-font-family: 'Plus Jakarta Sans', sans-serif;
  --heading-XL-font-weight: 800;
  --heading-XL-font-size: 3.5rem;
  --heading-XL-line-height: 1.25;

  --heading-L-font-family: 'Plus Jakarta Sans', sans-serif;
  --heading-L-font-weight: 800;
  --heading-L-font-size: 2.5rem;
  --heading-L-line-height: 1.275;

  --heading-M-font-family: 'Plus Jakarta Sans', sans-serif;
  --heading-M-font-weight:800;
  --heading-M-font-size: 2rem;
  --heading-M-line-height: 1.25;

  --heading-S-font-family: 'Plus Jakarta Sans', sans-serif;
  --heading-S-font-weight: 800;
  --heading-S-font-size: 1.5rem;
  --heading-S-line-height: 1.16;


  --body-M-font-family: 'Plus Jakarta Sans', sans-serif;
  --body-M-font-weight: 500;
  --body-M-font-size: 1.125rem;
  --body-M-line-height: 1.55;

  --body-S-font-family: 'Plus Jakarta Sans', sans-serif;
  --body-S-font-weight: 700;
  --body-S-font-size: 1rem;
  --body-S-line-height: 1.75;
  

}

body {
  font-family: var(--body-M-font-family);
  font-size: var(--body-M-font-size);
  font-weight: var(--body-M-font-weight);
  line-height: var(--body-M-line-height);
}

.container {
margin:1rem;
}


.blue-btn {
  height:3rem;
  width:8.75rem;
  background-color: #13183F;
  border-radius: 2rem;
  margin-left:7.125rem;
  color:white;
  padding: 0.5625rem 1.5rem;
}

.header {
 display: grid ;
 grid-template-columns: 1fr 1fr;
 font-family: var(--heading-S-font-family);
 font-weight: var(--body-S-font-weight);
 font-size: var(--body-S-font-size);
 line-height: var(--body-S-line-height);
}

h1 {
  font-family: var(--heading-XL-font-family);
  font-size: var(--heading-XL-font-size);
  font-weight: var(--heading-XL-font-weight);
  line-height: var(--heading-XL-line-height);
  margin-top:2.375rem;
  margin-bottom: 1.625rem;
}

.intro-text {
  color:#83869A;
  margin-bottom:1.5rem;
}

.leftcol a{
  background-image: linear-gradient(#FF6F48 ,#F02AA6);
  font-family: var(--heading-S-font-family);
  font-size: var(--heading-S-font-size);
  font-weight: var(--heading-S-font-weight);
  line-height: var(--heading-S-line-height);
  color:white;
  border-radius: 2rem;
  padding:0.9375rem 2.3125rem;
}

.courses {
  margin-top:4.125rem;
}

.courses > h2 {
  width:21,4375rem;
  height:7.5rem;
  background-image: linear-gradient(#FF6F48 ,#F02AA6);
  font-family: var(--heading-S-font-family);
  font-size: var(--heading-S-font-size);
  font-weight: var(--heading-S-font-weight);
  line-height: var(--heading-S-line-height);
  color:white;
  padding: 1.5rem 1.8125rem 2rem 1.75rem;
  border-radius: 10px;
  margin-bottom:1rem;
}

.course-item {
  margin-left:2.75rem;
}




.coursetitle {
  margin-bottom: 1rem;
  
}

.animation::before {
  content: url(../assets/icon-crypto.svg);
  display:block;
  margin-bottom: 1.5rem;
}

.design::before {
  content: url(../assets/icon-design.svg");
  display:block;
  margin-bottom: 1.5rem;
}

.photography::before {
  content: url(../assets/icon-business.svg);
  display:block;
  margin-bottom: 1.5rem;
}

.crypto::before {
  content: url(../assets/icon-crypto.svg);
  display:block;
  margin-bottom: 1.5rem;
}

.business::before {
  content: url(../assets/icon-business.svg);
  display:block;
  margin-bottom: 1.5rem;
}

.course-item a{
  color:#F74780;
  display:block;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

footer {
  background-color: #13183F;
  padding:2.25rem 1rem;
}

footer a{
  background-image: linear-gradient(#FF6F48 ,#F02AA6);
  height:3rem;
  width:8.75rem;
  border-radius: 2rem;
  padding: 9px 24px;
  margin-left:7.125rem;


}










